.container {
  // max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;

  @include mediaMobileXS {
		--container-padding: 16px;
	}

  @include mediaMobile {
    --container-padding: 30px;
    max-width: calc(624px + var(--container-padding)*2);
  }

  @include mediaTablet {
    max-width: calc(942px + var(--container-padding)*2);
  }

  @include mediaLaptop {
    max-width: calc(1260px + var(--container-padding)*2);
  }
}