/* Reset and base styles  */
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Common */
body {
  position: relative;
  overflow-x: hidden;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: var(--page-bg);
  color: var(--text-color-dark);

  font-family: var(--font-main);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02rem;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.title {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.48px;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

// svg {
//   max-height: 100%;
// }

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  line-height: 1.2;
}

/* Links */
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
figure,
fieldset {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}