@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/Inter-Regular.woff") format("woff"),
  url("../../public/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Inter Black';
  font-style: normal;
  font-weight: 700;
  src: url("../../public/fonts/Inter-Black.woff") format("woff"),
  url("../../public/fonts/Inter-Black.woff2") format("woff2");
}