:root {
  --container-width: 1440px;
	--container-padding: 11px;

	--font-main: 'Inter', sans-serif;

	--page-bg: #fff;
	--text-color: #292D32;
	// --text-muted: #292D32;
	--color-primary: #FF6A00;
	--color-secondary: #FB6231;
}