:root {
  --container-width: 1440px;
	--container-padding: 11px;

	--font-main: Inter, sans-serif;
	--font-size: 16px;

	--page-bg: #FFF6EB;
	--text-color-light: #fff;
	--text-color-dark: #292D32;
	--color-primary: #FF6A00;
	--color-secondary: #FB6231;
	--color-border: #FB9953;
}