.header {
  padding-top: 16px;
  padding-bottom: 24px;

  @include mediaMobile {
    padding-top: 32px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mediaLaptop {
      display: grid;
      grid-template-columns: 1fr auto;
    }
  }

  // &__logo {
  // }

  &__logo-img {
    width: 145px;
    height: 19px;

    @include mediaMobile {
      width: 240px;
      height: 32px;
    }
  }

  &__favourite-link {
    display: flex;
    align-items: center;
    gap: 4px;

    &_hero {
      @include mediaTablet {
        align-self: flex-start;
      }
    }
  }

  &__favourite-text {
    display: none;

    @include mediaTablet {
      display: block;
    }
  }

  &__favourite-icon {
    width: 20px;
    height: 20px;
  }
}