// .seacrh {

// }

.search-form {
  position: relative;
  width: 100%;
  
  &__input {
    padding: 10px 124px 10px 24px;
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: 40px;
    outline: none;
    
    &::placeholder {
      color: var(--text-color-dark);
      opacity: 0.4;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: var(--color-primary);
    border-radius: 40px;
  }

  &__btn-text {
    color: var(--text-color-light);
  }

  &__btn-img {
    width: 20px;
    height: 20px;
  }
}