.video-list {
  padding-top: 40px;
  padding-bottom: 60px;

  @include mediaMobile {
    padding: 60px 0;
  }

  @include mediaLaptop {
    padding: 80px 0;
  }
}

.related-video,
.video-list {
  
  &__title {
    padding-bottom: 20px;

    @include mediaMobile {
      font-size: 32px;
      letter-spacing: 0.64px;
    }

    @include mediaLaptop {
      font-size: 40px;
      letter-spacing: 0.8px;
    }
  }
  
  &__items {
    display: grid;
    // justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(298px, 1fr));
    row-gap: 20px;

    @include mediaMobile {
      gap: 32px 12px;
    }

    @include mediaLaptop {
      grid-template-columns: repeat(auto-fill, minmax(412px, 1fr));
      gap: 40px 12px;
    }
  }

  // &__item {
  // }
}